<h4>Listado</h4>
<ul class="list-group">
  <li
    *ngFor="let character of characterList; index as i; first as isFirst; last as isLast"
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{'list-group-item-info': isFirst, 'list-group-item-secondary': isLast}">
    <div>
      {{i+1}} {{character.name}}
      <strong>Power: </strong>
      {{character.power}} {{character.id}}
    </div>
    <button class="btn btn-danger btn-sm" (click)="deleteCharacter(character.id)">x</button>
  </li>
</ul>
